<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Notesshala - Register</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<!--  <link rel="stylesheet" th:href="@{/main.css}"/>-->
</head>
<body class="container pt-5">

<h4 class="mb-4 text-center">User Registration</h4>
<form th:action="@{/auth/register}" method="post" style="max-width:30%; margin:0 auto;">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input id="username" name="username" class="form-control" required/>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input id="password" type="password" name="password" class="form-control" required/>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input id="email" type="email" name="email" class="form-control" required/>
  </div>
  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile:</label>
    <input id="mobile" name="mobile" class="form-control" required/>
  </div>
  <div class="mb-3">
    <label for="branch" class="form-label">Branch:</label>
    <select id="branch" name="branch" class="form-select">
      <option value="CSE">CSE</option>
      <option value="ECE">ECE</option>
      <option value="EEE">EEE</option>
      <option value="MECHANICAL">MECHANICAL</option>
      <option value="CIVIL">CIVIL</option>
      <option value="AI&DS">AI&DS</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success w-100">Submit</button>
</form>

</body>
</html>
